<%= form_with model: @cook, local: true do |f|%>
  <div class="new-cook-wrapper">
    <h1 class="new-cook-title">
    新しく料理を追加しましょう！
    </h1>

    <div class = "main-cook">
      <div class="cookpad-link">
        <h1>登録する料理が浮かびませんか？</h1>
        <p>cookpadの料理を参考にしてみましょう</p>
        <%= link_to 'cookpad', 'https://cookpad.com/', class: :btn %>
      </div>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :name, "料理名" %><br />
        <%= f.text_field :name, class: :form__name, placeholder: "例：カレーライス" %>
      </div>

      <div class="field">
        <%= f.label :recipe, "レシピ" %><br />
        <%= f.text_area :recipe, class: :form__recipe, placeholder: "例：ルーをご飯にかけたら完成です", rows: "8" %>
      </div>

      <div class="field">
        <p>料理のジャンル</p>
        <%= f.collection_select(:genre_id, Genre.all, :id, :genre, {}, {class:"genre-select"}) %>
      </div>

      <div class="actions">
        <%= f.submit "保存する", class: :btn  %>
      </div>
      
      <div class = "top_btn"> 
        <%= link_to 'トップページに戻る', root_path, method: :get, class: "btn" %>
      </div>
    </div> 
  </div>  
<% end %>