<div class = "cooks-info">
  <h1>今日の料理はこれにしましょう！！</h1>
</div>  
<div class = "cook-table">
  <p class = "list">
    <th class = "detail-cooks">料理名:</th>
    <%= @cook.name %>
  </p>  
  <p class = "list">
    <th class = "detail-cooks">料理のレシピ:</th>
    <%= @cook.recipe %>
  </p> 
  <p class = "list">
    <th class = "detail-cooks">料理のジャンル:</th>
    <%= @cook.genre.genre %>
  </p> 
</div>  

<%= link_to 'トップページに戻る', root_path, method: :get, class: "btn" %>

<%= link_to '違うジャンルの料理にする',new_decide_path, method: :get, class: "btn" %>
