<div class = "cooks-info">
  <h1>今日の料理はこれにしましょう！！</h1>
</div>  

<div class = "decide-cook">

  <div class = "cook-view">
    <p class = "cook-name">
      料理名 : 
      <%= @cook.name %>
    </p>  
    <p class = "cook-genre">
      ジャンル : 
      <%= @cook.genre.genre %>
    </p> 
  </div>  

  <div class ="cook-recipe">
    <p>
      レシピ<br> 
      <br>
      <%= @cook.recipe %>
    </p> 
  </div>  
</div>

<%= link_to 'トップページに戻る', root_path, method: :get, class: "btn" %>

<%= link_to '違うジャンルの料理にする',new_decide_path, method: :get, class: "btn" %>
