<!DOCTYPE html>
<html>
  <head>
    <title>StillDecidedCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>
  <header class = "header">
      <h1>StillDecidedCooking</h1>
      <h2>〜ラクさと少しの遊び心をもって〜</h2>
  </header>
    <%= yield %>
  </body>
</html>
