<!DOCTYPE html>
<html>
  <head>
    <title>StillDecidedCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class = "header">
    <div class = nav-left>
      <h1>StillDecidedCooking</h1>
    </div>
    <div class = "nav-right">
      <h2>パッと、今日の料理が決まる。</h2>
    </div>  
  </header>
    <%= yield %>
  </body>
</html>
