<div class = "explain">
  <p class = "explain-title">まだクッキンの使い方</p>
  <p>1 : 料理を追加します</p>
  <p>2 : 今日の料理を選択します</p>
  <p>3 : 今日の料理が選択されたジャンルの中からランダムに表示されます</p>
</div>

<div class = "wrapper">
  <div class = "today-cook">
    <p>今日の料理に困っているときはここ</p>
    <%= link_to '今日の料理を見てみる', new_decide_path, method: :get, class: "btn" %>
    <p>料理の幅を広くしたいときはここ</p>
    <%= link_to '料理を追加する', new_cook_path, method: :get, class: "btn" %>
  </div>

  <div class = "cooks">
    <p>登録されている料理一覧</p>
    <div class = "cook-main">
      <% if @cooks.present? %>
        <% @cooks.each do |cook| %>
          <div class = "cook-table">
            <p class = "list">
              <th class = "detail-cooks">料理名 : </th>
              <%= cook.name %>
            </p>  
            <p class = "list">
              <th class = "detail-cooks">料理のレシピ : </th>
              <%= cook.recipe %>
            </p> 
            <p class = "list">
              <th class = "detail-cooks">料理のジャンル : </th>
              <%= cook.genre.genre %>
            </p> 
          </div>  
        <% end %>  
      <% else %> 
        <h1 class = "cook-title">登録されている料理はありません</h1> 
      <% end %> 
    </div>   
  </div>  
</div>  